@tailwind base;
@tailwind components;
@tailwind utilities;

h1 span
{
   display: inline-block;
}

.vertical
{
   writing-mode:tb-rl;
   -webkit-transform:rotate(90deg);
   -moz-transform:rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform:rotate(90deg);
   transform: rotate(15deg);
   white-space:nowrap;
   display:block;
   bottom:0;
   width:90%;
   height:100%;
   font-size: 50vw;
   text-transform: uppercase;
   opacity: 0.2;
   font-weight: bolder;
}
